body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #c4aead;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    margin-top: 20px;
    background-color: #c4aead;
    padding: 10px;
    color: white;
}
